@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  color: #ffffff;
  width: 100%;
  height: 100vh;
  background: url(../images/back2.png) no-repeat center bottom/cover;
  background-attachment: fixed;
}

header {
  background-color: black;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin: 0 auto;
}

h1 {
  margin-left: 1rem;
}

nav {
  height: 6rem;
  margin: 2rem 0;
  display: flex;
  justify-content: right;
  margin-right: 1rem;
}

.hamburger {
  display: none;
  width: 5rem;
  height: 5rem;
  position: relative;
}

.hamburger span {
  width: 100%;
  height: 5px;
  background-color: #910000;
  position: absolute;
}

.hamburger span:nth-child(1) {
  top: 9px;
  width: 40px;
}

.hamburger span:nth-child(2) {
  top: 22px;
  width: 40px;
}

.hamburger span:nth-child(3) {
  top: 35px;
  width: 40px;
}

ul.nav {
  display: flex;
  align-items: center;
  gap: 7.2rem;
}

li.nav {
  font-size: 2.4rem;
  color: rgb(255, 0, 0);
}

.pcmv {
  width: 100%;
  max-width: 100%;
  max-height: 80rem;
  margin-bottom: 20rem;
}

.spmv {
  display: none;
}

div.hero-text {
  background-color: rgb(0, 0, 0);
  max-width: 104rem;
  margin: 0 auto;
}

h2.hero-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}
span.hero-title {
  color: red;
}

p.hero-lead {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

p.hero-lead2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 20rem;
}

main {
  /*   margin: 0 44rem; */
  max-width: 104rem;
  margin: 0 auto;
}

.story {
  background-color: black;
  max-height: 65.5rem;
  margin-bottom: 10rem;
}

h2.story-title {
  font-size: 4rem;
  text-align: center;
  padding-top: 1rem;
  color: red;
  margin-bottom: 2.5rem;
}

span.story-title {
  border-bottom: 1px solid red;
}

p.story-text {
  font-size: 2.4rem;
  line-height: 8rem;
  text-align: center;
}

span.story-text {
  font-size: 4rem;
  color: red;
}

span.story-text2 {
  font-size: 4rem;
  color: red;
}
.rule {
  background-color: black;
  min-height: 50rem;
  margin-bottom: 20rem;
}
h2.rule-title {
  font-size: 4rem;
  text-align: center;
  padding-top: 1rem;
  color: red;
  margin-bottom: 4.5rem;
}

span.rule-title {
  border-bottom: 1px solid red;
}

.rule-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.rule-item {
  width: 100%;
  max-width: 30rem;
}

.rule-item img {
  width: 100%;
  margin-bottom: 2.6rem;
}

.rule-item p {
  max-width: 30rem;
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
}

.announce {
  background-color: black;
  min-height: 25rem;
  margin-bottom: 20rem;
}

h2.announce-title {
  font-size: 4rem;
  text-align: center;
  padding-top: 1rem;
  color: red;
  margin-bottom: 5rem;
}
span.announce-title {
  border-bottom: 1px solid red;
}

p.announce-text {
  font-size: 3rem;
  text-align: center;
  line-height: 4rem;
}

.schedule {
  background-color: black;
  min-height: 85rem;
}

h2.schedule-title {
  font-size: 4rem;
  text-align: center;
  padding-top: 1rem;
  color: red;
  margin-bottom: 2.4rem;
}

span.schedule-title {
  border-bottom: 1px solid red;
}

.calender {
  text-align: center;
}
.calender img {
  width: 100%;
  max-width: 67.2rem;
  max-height: 34.3rem;
  margin-bottom: 2rem;
}

.money {
  text-align: center;
  min-height: 20rem;
}

.money img {
  width: 100%;
  min-height: 20rem;
  max-width: 90rem;
  margin-bottom: 4.9rem;
}
div.schedule-text {
  text-align: center;
}

p.schedule-text {
  font-size: 3.2rem;
  padding-bottom: 7.8rem;
  min-height: 7.8rem;
}

span.schedule-text {
  color: red;
}

/* map */

section.map {
  background-color: black;
  margin-bottom: 20rem;
}

iframe {
  margin-bottom: 2rem;
}

div.map {
  text-align: center;
}
p.map-text {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

span.map-text {
  color: red;
}

p.map-text2 {
  font-size: 2.4rem;
  padding-bottom: 2rem;
}
/* 注意事項 */
.caution {
  background-color: black;
  margin-bottom: 20rem;
}

h2.caution-title {
  font-size: 4rem;
  text-align: center;
  padding-top: 1rem;
  color: red;
  margin-bottom: 2.8rem;
}

span.caution-title {
  border-bottom: 1px solid red;
}

ul.caution-text {
  list-style: outside;
  min-height: 34.9rem;
  padding-left: 3rem;
}
li.caution-text {
  font-size: 3rem;
}
ul.caution-text li.caution-text::marker {
  color: rgb(255, 255, 255);
}

.QandA {
  background-color: black;
  margin-bottom: 20rem;
}

h2.QandA-title {
  font-size: 4rem;
  text-align: center;
  padding-top: 1rem;
  color: red;
  margin-bottom: 3.1rem;
}

span.QandA-title {
  border-bottom: 1px solid red;
}

p.QandA-text {
  font-size: 2.4rem;
}

.contact {
  background-color: black;
}

h2.contact-title {
  font-size: 4rem;
  text-align: center;
  padding-top: 1rem;
  color: red;
  margin-bottom: 1rem;
}

span.contact-title {
  border-bottom: 1px solid red;
}

p.contact-text {
  font-size: 4rem;
  margin-bottom: 3.6rem;
}

address {
  font-size: 4.8rem;
  margin-bottom: 3.6rem;
  text-align: center;
}

p.contact-text2 {
  font-size: 3.2rem;
  text-align: center;
  padding-bottom: 1.3rem;
}

footer {
  text-align: center;
  background-color: black;
}

footer img {
  margin-bottom: 1.7rem;
  padding-top: 2rem;
}

p.footer-text {
  font-size: 3.6rem;
  color: red;
  margin-bottom: 0.9rem;
}

p.copy {
  font-size: 1.6rem;
}

.sp-text {
  display: none;
}

@media (max-width: 1024px) {
  header {
    height: 9rem;
  }
  h1 img {
    margin-top: 4rem;
    max-height: 5rem;
  }

  .hamburger {
    display: block;
    margin-top: 4rem;
  }

  nav {
    display: none;
  }

  .story {
    max-height: 100rem;
  }
}

@media (max-width: 748px) {
  br.sp-text {
    display: inline;
  }

  .pcmv {
    display: none;
  }

  .spmv {
    width: 100%;
    display: inline;
  }

  h2.hero-title {
    font-size: 2rem;
    padding-top: 1rem;
  }
  .hero-text p {
    font-size: 2rem;
  }

  p.hero-lead2 {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }

  /*   main {
    margin: 0 1rem;
  } */

  .story {
    margin-bottom: 0;
    max-height: 100rem;
  }

  h2.story-title {
    padding-top: 2.6rem;
    margin-bottom: 3.2rem;
  }

  p.story-text {
    font-size: 1.3rem;
    line-height: 5rem;
  }

  span.story-text,
  span.story-text2 {
    font-size: 2rem;
  }

  .rule {
    margin-bottom: 0;
  }

  .rule-container {
    display: block;
    text-align: center;
  }

  h2.rule-title {
    padding: 0;
    margin-bottom: 3.2rem;
  }

  .rule-item {
    margin: 0 auto;
  }

  .rule-item img {
    margin-bottom: 3rem;
  }

  .rule-item p {
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  .rule-item:nth-child(3) {
    margin-bottom: 0;
    padding-bottom: 2.1rem;
  }

  .rule-container .rule-item:nth-child(3) p {
    margin-bottom: 0;
  }

  .announce {
    margin-bottom: 0;
    min-height: auto;
  }

  h2.announce-title {
    padding-top: 0;
    padding-bottom: 2.6rem;
    margin-bottom: 0;
  }

  p.announce-text {
    font-size: 1.6rem;
    line-height: 4rem;
    padding-bottom: 2rem;
  }
  /* 開催スケジュール */
  .schedule {
    min-height: 0;
    width: 100%;
    padding: 0 1rem;
  }
  h2.schedule-title {
    padding-top: 0;
    margin-bottom: 1rem;
  }
  .calender img {
    min-height: 0;
    margin-bottom: 1rem;
  }
  /* 料金 */
  .money {
    min-height: 0;
    width: 100%;
  }
  .money img {
    min-height: 0;
    margin-bottom: 1rem;
  }

  p.schedule-text {
    font-size: 2rem;
    padding-bottom: 1rem;
    height: auto;
    min-height: 0;
  }
  /* マップ */
  section.map {
    margin-bottom: 0;
  }

  .map iframe {
    height: 25rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  p.map-text {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p.map-text2 {
    font-size: 1.5rem;
    padding-bottom: 1.9rem;
  }

  .caution {
    margin-bottom: 0;
    padding: 0 1rem;
    padding-bottom: 1rem;
  }
  h2.caution-title {
    padding-top: 0;
    margin-bottom: 1rem;
  }
  ul.caution-text {
    min-height: 0;
  }

  li.caution-text {
    font-size: 1.6rem;
  }

  .QandA {
    margin-bottom: 0;
    padding-bottom: 1rem;
  }

  h2.QandA-title {
    padding-top: 0;
    margin-bottom: 1rem;
  }

  p.QandA-text {
    font-size: 1.6rem;
  }

  h2.contact-title {
    padding-top: 0rem;
  }
  p.contact-text {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  address {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p.contact-text2 {
    font-size: 3rem;
  }

  span.contact-text2 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  footer img {
    padding-top: 1rem;
    margin-bottom: 1rem;
    max-height: 5rem;
  }

  p.footer-text {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }

  p.copy {
    font-size: 1rem;
  }
  /* バックグラウンド */
  div.hero-text,
  .story,
  .rule {
    background: none;
  }
  /* タイトルサイズ */
  h2.story-title,
  h2.rule-title,
  h2.announce-title,
  h2.schedule-title,
  h2.caution-title,
  h2.QandA-title,
  h2.contact-title {
    font-size: 2rem;
  }
}
